.display-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.display-flex .display-properties {
  background: black;
  padding: 5px;
  width: 100%;
  height: 5.5rem;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
h2 {
  font-size: 5vw;
  text-align: center;
  font-weigth: bold;
  border-margin: 10%;
}
@media (min-width: 505px) {
  h2 {
    font-size: 3vw;
    font-weight: bold;
    text-align: start;
    padding-bottom: 10px;
    margin-bottom: 4%;
  }
}
p {
  line-height: 1.4rem;
  font-size: 1.2rem;
  padding-bottom: 10px;
  margin-bottom: 9%;
}
.about,
.services,
.news {
  margin: 1% 0% 9% 0%;
}
.navigation {
  display: flex;
  flex-direction: column;
  background: black;
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 505px) {
  .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: black;
    padding: 5px;
    width: 100%;
    height: 5.5rem;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  .navigation .display-properties {
    background: black;
    padding: 5px;
    width: 100%;
    height: 5.5rem;
  }
}
.navigation .logo {
  box-sizing: border-box;
  height: 30vw;
  width: 100%;
}
@media (min-width: 505px) {
  .navigation .logo {
    box-sizing: border-box;
    width: 17%;
    height: 100%;
    margin-right: 0.5%;
  }
}
.navigation .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 3% 0% 2% 0%;
}
@media (min-width: 505px) {
  .navigation .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    margin: 0% 1% 0% 1%;
    padding: 0% 6% 0% 6%;
    width: 70%;
    height: 100%;
  }
}
.navigation .nav a {
  text-decoration: none;
  font-size: 3vw;
  color: white;
  margin: 1% 0% 1% 0%;
}
@media (min-width: 505px) {
  .navigation .nav a {
    text-decoration: none;
    font-size: 1vw;
    color: white;
  }
}
.navigation .nav a:hover {
  color: moccasin;
}
.navigation .button {
  box-sizing: border-box;
  height: 10vw;
  width: 100%;
  background: black;
  color: white;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  border-bottom-color: moccasin;
}
@media (min-width: 505px) {
  .navigation .button {
    box-sizing: border-box;
    height: 60px;
    width: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.2vw;
    border-radius: 25px;
    border-color: black;
    color: white;
    background: black;
  }
}
.navigation .button:hover {
  background: moccasin;
  color: black;
}
.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: black;
  padding: 5px;
  width: 100%;
  height: 5.5rem;
  box-sizing: border-box;
}
.footer .display-properties {
  background: black;
  padding: 5px;
  width: 100%;
  height: 5.5rem;
}
.footer .copyright {
  width: 80%;
  font-size: 1.7vw;
  color: moccasin;
  margin-top: 3%;
}
.footer .twitter {
  margin: 2% 0% 0% 0%;
  width: 5%;
  height: 3.3rem;
}
.footer .facebook {
  margin: 2% 0% 0% 1.7%;
  width: 5%;
  height: 2.8rem;
}
.home {
  background: moccasin;
  font-family: sans-serif;
  box-sizing: border-box;
}
.home .market {
  margin: 0% 2.5% 2% 2.5%;
  width: 95%;
}
.home .contents {
  display: flex;
  flex-direction: column;
  margin: 2% 2.5% 0% 2.5%;
}
@media (min-width: 505px) {
  .home .contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .home .contents .display-properties {
    background: black;
    padding: 5px;
    width: 100%;
    height: 5.5rem;
  }
}
.home .contents .box {
  box-sizing: border-box;
  width: 85%;
}
@media (min-width: 505px) {
  .home .contents .box {
    box-sizing: border-box;
    width: 31%;
    margin-left: 2%;
  }
}
.home .contents .box .about,
.home .contents .box .services,
.home .contents .box .news {
  display: block;
  width: 40%;
  margin-top: 4%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 505px) {
  .home .contents .box .about,
  .home .contents .box .services,
  .home .contents .box .news {
    width: 70%;
    margin-left: 0%;
  }
}
.home .contents h2:hover {
  color: brown;
}
