// Navigation code here

.nav-container{
    .flex(column wrap,flex-start,center);
    background:lighten(black,13%);
    height: 8rem;
    width: 100rem;
    margin: 0 auto;
    @media @phone{
        width:40rem;
        
       
    }
.title{
    h1{
         color:white;
        .h1;
        @media @phone{
           font-size: 1.5rem;
           margin-top: 8%;
           margin-bottom: 10%;
        }
    }

}
.nav{
    display: flex;
    justify-content: space-between;
    width: 40rem;
    @media @phone{
        width: 29rem;
    }

    a{
       
        text-decoration: none;
        color: red;
        font-size: 1.5rem;
    }
}
}